<!DOCTYPE html>
<html lang="<%= lang %>" dir="<%= dir %>">
<head><%- include('../partials/head') %></head>
<body class="<%= bodyClass %>">
<%- include('../partials/navbar') %>
<main class="main-content">
  <div class="page-container content-page">
    <h1><%= t('pages.about_title') %></h1>
    <div class="content-body">
      <p><%= t('pages.about_p1') %></p>
      <p><%= t('pages.about_p2') %></p>
      <p><%= t('pages.about_p3') %></p>
    </div>
  </div>
</main>
<%- include('../partials/footer') %>
</body>
</html>
