<!DOCTYPE html>
<html lang="<%= lang %>" dir="<%= dir %>">
<head><%- include('../partials/head') %></head>
<body class="<%= bodyClass %>">
<%- include('../partials/navbar') %>
<main class="main-content">
  <div class="page-container content-page">
    <h1><%= t('pages.safety_title') %></h1>
    <div class="content-body">
      <p><%= t('pages.safety_intro') %></p>
      <h2><%= t('pages.safety_tips_title') %></h2>
      <ul>
        <li><%= t('pages.safety_tip_1') %></li>
        <li><%= t('pages.safety_tip_2') %></li>
        <li><%= t('pages.safety_tip_3') %></li>
        <li><%= t('pages.safety_tip_4') %></li>
        <li><%= t('pages.safety_tip_5') %></li>
      </ul>
    </div>
  </div>
</main>
<%- include('../partials/footer') %>
</body>
</html>
